/* Estilos para el formulario de calificación con toque romántico */
.modal-header {
    border-bottom: none; /* Quita el borde inferior del encabezado */
}

.bg-pink {
    background-color: #ffc0cb !important; /* Color rosa suave para el encabezado */
}

.btn-pink {
    background-color: #ffc0cb; /* Color rosa suave para los botones */
    border-color: #ffc0cb; /* Color de borde para los botones */
}

.btn-pink:hover {
    background-color: #ff91a4; /* Color rosa más oscuro al pasar el mouse */
    border-color: #ff91a4; /* Color de borde al pasar el mouse */
}

.btn-pink:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 192, 203, 0.5); /* Sombra al enfocar */
}

.btn-pink.text-white {
    color: #fff; /* Texto blanco para los botones */
}

/* Estilos para el calendario de citas */
#calendar {
    margin-top: 20px; /* Espacio superior */
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
